header {
    display: flex;
    align-items: flex-start;
    align-self: center;
    justify-content: space-between;

    height: 65px;
    position: fixed;
    padding: 20px 30px;
    font-size: 20px;
}

header span {
    width: 150px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

header a {
    padding-left: 5px;
    padding-right: 5px;
}

.header-scrolled {
    opacity: 0;
}

#theme {
    text-align: right;
    width: 150px;
    margin-right: 5px;
}

#theme:hover {
    color: var(--link-hover-color);
}

/*
* When there isn't enough space to display all the header
* the social media icons will be removed
*/
@media only screen and (max-width: 550px) {
    .header-social {
        display: none;
    }

    #theme {
        width: 40px;
    }
}

/*
* When the theme icon and the name cannot be displayed normally in the
* header, simply remove the name
*/
@media only screen and (max-width: 250px) {
    header {
        justify-content: right;
    }

    header span {
        display: none;
    }
}
